body{
background-image: url(google.jpg) ;
background-size: cover;
padding: 0%;
margin: 0%;
background-repeat:no-repeat ;
position:center;
}

.container {
	max-width: 800px;
	margin: auto;
	padding: 20px;
	text-align: center;
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
	color: #fff;
}

form {
	color: #fff;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	align-items: center;
	margin-top: 30px;
}

label {
	font-size: 20px;
}

input, select, textarea {
	font-size: 18px;
	padding: 10px;
	border: none;
	border-radius: 5px;
}

textarea {
	resize: none;
	height: 120px;
}

button {
	font-size: 30px;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 100px;
	cursor: pointer;
	margin-top: 20px;
}
#myBtn button{
text-align: center;
}

button:hover {
	background-color: #3e8e41;
}
footer{
	text-align: center;
	color: blue
}

